@tailwind base;
@tailwind components;
@tailwind utilities;

a, .prose a {
  @apply underline-offset-2 decoration-1;
}

.prose h2 {
  hanging-punctuation: first last;
}

.prose p {
  hanging-punctuation: first allow-end last;
}

.prose p:has(img) {
  margin: 0;
  padding: 0;
}

.prose img {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.prose li {
  padding-inline-start: 0;
  padding-inline-end: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.icon {
  --color: #333;
  --hover: #000;
  --bg: none;
  background: var(--bg);
}

.icon  path {
  fill: var(--color);
}

.icon:hover path {
  fill: var(--hover);
}

 @media (prefers-color-scheme: dark) {
  .icon {
      --color: #ffffff55;
      --hover: #999;
      --bg: none;
  }
}
